#titleform {
	font-family: 'Josefin Sans', sans-serif;
}

#formulaire {
	width : 60% ;
	text-align : center ;
}

#civilité {
	text-align : justify ;
	margin-left : 10px ;
}

@media screen and (max-width:800px) {
  #formulaire {width:80%;}
}

@media screen and (max-width:400px) {
  #formulaire {width:90%;}
}